@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometria";
  src: url("~/assets/fonts/Geometria-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AG Letterica";
  src: url("~/assets/fonts/AGLettericaUltraCompressedC.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
    --font-geometria: "Geometria";
    --font-ag: "AG Letterica";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
